<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

<body>
    数字を入力して下さい<br>
    <form action="result-request-scope.html" th:action="@{/request-scope/input-name}" method="post">
        <input type="number" name="num1" placeholder="一つ目の数値">  
        <input type="number" name="num2" placeholder="二つ目の数値">
        <button onclick="addNumbers()">送信</button>
    </form>
</body>

</html>